.idea
venv
local_settings.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
api/app/.env
api/.testmondata
api/test.db

*.sqlite3

*/**/temp/
.pytest*
*/.mypy_cache
*/.pytest*
temp
temp.*
*temp.*
*/**/temp.*
*/**/.pytest*
COMMANDS.md
COMMANDS-mongodb.md
*/**/id_rsa
*/**/id_rsa.pub
*/**/*-key.pem
**.db
api/temp-request-for-verify.txt
.env
poetry-installer-*
.mypy_cache
out.ps
Бутусов - Большая Российская Музыкальная Энциклопедия - В генеральный час уборки.mp3
